@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.7;
}



header{
    background-image: url(https://images.pexels.com/photos/11991514/pexels-photo-11991514.jpeg);
    background-size: cover;
    text-align: center;
    line-height: 2.4;
}
header h1{color: white; font-style: italic;}
header p{color: #F44A4A; font-style: italic;}
nav li{color: white;}
nav a{color: hsl(67, 98%, 26%); font-weight: bold;}

#competenze span {
    font-weight: bold;
}


form label {
    color: #1F3D7A;
    font-weight: bold;
}

form input {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #232323;
    color: white;
}

input, textarea{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    width: 60%;
}

button {
    background-color: hsl(220, 60%, 30%);
    color: white;
    padding: 5px;
}

button:hover {
    background-color: hsl(220, 60%, 45%)
}

nav a:hover{color: white;}

footer {
    padding: 1px;
    text-align: center;
    color: white;
    background-color: #172136;
}




/* Colori e Utility */

.titoloBlu {
    color: #1F3D7A;
}

.bold {
    font-weight: bold;
}